@model CRMP.Domain.Entities.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/BackLayout.cshtml";
}


@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
<div class="x_panel">
    <h4 style="color:steelblue;font-size:x-large">Ajouter un produit</h4>
    &nbsp;
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.categorie, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.categorie, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.categorie, "", new { @class = "text-danger" })
        </div>
    </div>
    &nbsp;
    <div class="form-group">
        @Html.LabelFor(model => model.prodName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.prodName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.prodName, "", new { @class = "text-danger" })
        </div>
    </div>
    &nbsp;
    <div class="form-group">
        @Html.LabelFor(model => model.prodDesc, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.prodDesc, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.prodDesc, "", new { @class = "text-danger" })
        </div>
    </div>
    &nbsp;
    <div class="form-group">
        @Html.LabelFor(model => model.prodPrice, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.prodPrice, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.prodPrice, "", new { @class = "text-danger" })
        </div>
    </div>
    &nbsp;
    <div class="form-group">
        @Html.LabelFor(model => model.prodQuantity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.prodQuantity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.prodQuantity, "", new { @class = "text-danger" })
        </div>
    </div>
    &nbsp;
    <div class="form-group">
        @Html.LabelFor(model => model.StoreId, "Disponbile ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("StoreId", (SelectList)ViewData["StoreList"], new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.StoreId, "", new { @class = "text-danger" })
        </div>
    </div>
    &nbsp;
    <div class="form-group">
        @Html.LabelFor(model => model.prodImage, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("file", "", new { type = "file" })
            @Html.ValidationMessageFor(model => model.prodImage, "", new { @class = "text-danger" })
        </div>
    </div>
    &nbsp;
    <div class="form-group">
        <div class="col-md-9 col-sm-9  offset-md-3">
            @* <input type="submit" value="Retour" class="btn btn-primary" />*@
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="submit" value="Ajouter" class="btn btn-success" />
        </div>
    </div>
</div>
    
    

    }
    

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    