@model CRMP.Domain.Entities.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/BackLayout.cshtml";
}

<div class="x_panel" ; style="width:auto">
    <div class="x_title">
        <div>
            <h2 style="color:red;font-size: x-large">
                Etes-vous sûr de vouloir supprimer @Model.prodName ?
            </h2>
        </div>

        <dl class="dl-horizontal">

            <dt style="color:black;font-size: medium">
                @Html.DisplayNameFor(model => model.prodImage)
            </dt>

            <dd>
                @{string path = "~/Content/uploads/" + Model.prodImage;}

                <img src="@Url.Content(path)" width="250" height="180" />
            </dd>

            <dt style="color:black;font-size: medium">
                @Html.DisplayNameFor(model => model.categorie)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.categorie)
            </dd>

            <dt style="color:black;font-size: medium">
                @Html.DisplayNameFor(model => model.prodName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.prodName)
            </dd>

            <dt style="color:black;font-size: medium">
                @Html.DisplayNameFor(model => model.prodDesc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.prodDesc)
            </dd>

            <dt style="color:black;font-size: medium">
                @Html.DisplayNameFor(model => model.prodPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.prodPrice)
            </dd>

            <dt style="color:black;font-size: medium">
                @Html.DisplayNameFor(model => model.prodQuantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.prodQuantity)
            </dd>



        </dl>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <div class="col-md-9 col-sm-9  offset-md-3">

            <input type="submit" value="Supprimer" class="btn btn-danger" />
        </div>
    </div>
        }
    </div>
