@model CRMP.Domain.Entities.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/BackLayout.cshtml";
}

<div class="x_panel">
    <div class="x_title">
        <div>
            <h4 style="color:red;font-size: x-large">Details de la boutique @Model.prodName </h4>

            <dl class="dl-horizontal">
                <dt style="color:black;font-size: medium">
                    @Html.DisplayNameFor(model => model.prodImage)
                </dt>

                <dd>
                    @{string path = "~/Content/uploads/" + Model.prodImage;}

                    <img src="@Url.Content(path)" width="250" height="180" />
                </dd>

                <dt style="color:black;font-size: medium">
                    @Html.DisplayNameFor(model => model.categorie)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.categorie)
                </dd>

                <dt style="color:black;font-size: medium">
                    @Html.DisplayNameFor(model => model.prodName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.prodName)
                </dd>

                <dt style="color:black;font-size: medium">
                    @Html.DisplayNameFor(model => model.prodDesc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.prodDesc)
                </dd>

                <dt style="color:black;font-size: medium">
                    @Html.DisplayNameFor(model => model.prodPrice)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.prodPrice)
                </dd>

                <dt style="color:black;font-size: medium">
                    @Html.DisplayNameFor(model => model.prodQuantity)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.prodQuantity)
                </dd>

            </dl>
        </div>
    </div>
</div>
     @Html.ActionLink("Recommander", "mailing", "Product")
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
