@using PagedList 
@using PagedList.Mvc 

@model IPagedList<CRMP.Domain.Entities.Product>




@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/BackLayout.cshtml";
}

<h2 style="color:red;font-size:x-large">Liste des produits</h2>
&nbsp;

<table id="datatable" class="table table-striped table-bordered" style="width:210%">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().prodImage)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.First().categorie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().prodName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().prodDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().StoreId)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().prodPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().prodQuantity)
        </th>

        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{string path = "~/Content/uploads/" + @item.prodImage;}

                <img src="@Url.Content(path)" width="80" height="80" />
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.categorie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prodDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.store.storeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prodPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prodQuantity)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })|
                @Html.ActionLink("Recommander", "mailing", new { id = item.ProductId })
            </td>
        </tr>
    }

</table>
<div class="pagedList">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.TwitterBootstrapPagerAligned )
    </div>
