@model IEnumerable<CRMP.Domain.Entities.Store>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/BackLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.storeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.storeaddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Heure_ouverture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Heure_fermeture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.storeNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.storeDesc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.storeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.storeaddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Heure_ouverture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Heure_fermeture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.storeNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.storeDesc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StoreId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StoreId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StoreId })
        </td>
    </tr>
}

</table>
