@model IEnumerable<CRMP.Domain.Entities.Store>

@{
    Layout = null;
}
<iframe align="right" name="date du jour" id="date-du-jour" style="width:105px;height:75px;" src="https://www.mathieuweb.fr/calendrier/date-jour-blanc.html" scrolling="no" frameborder="0" allowtransparency="true"></iframe>

<img src=@Url.Content("/Content/img/bg-img/telecom.jpg") alt="..." width="200" height="200" align="left">

<h1 style="color:red;font-size:xx-large" align="center">Liste des boutiques</h1>
<br /><br />
<br />

<table id="datatable" class="table table-striped table-bordered" style="border-color:brown ;width:100%" border="1">
    <tr>
        <th style="color:black;font-size:large">
            @Html.DisplayNameFor(model => model.storeImage)
        </th>
        <th style="color:black;font-size:large">
            @Html.DisplayNameFor(model => model.storeName)
        </th>
        <th style="color:black;font-size:large">
            @Html.DisplayNameFor(model => model.storeaddress)
        </th>
        <th style="color:black;font-size:large">
            @Html.DisplayNameFor(model => model.Heure_ouverture)
        </th>
        <th style="color:black;font-size:large">
            @Html.DisplayNameFor(model => model.Heure_fermeture)
        </th>
        <th style="color:black;font-size:large">
            @Html.DisplayNameFor(model => model.storeNum)
        </th>
        <th style="color:black;font-size:large">
            @Html.DisplayNameFor(model => model.storeDesc)
        </th>

    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @{string path = "~/Content/uploads/" + @item.storeImage;}

            <img src="@Url.Content(path)" width="80" height="80" />
        </td>
        <td style="font-size:medium">
            @Html.DisplayFor(modelItem => item.storeName)
        </td>
        <td style="font-size:medium">
            @Html.DisplayFor(modelItem => item.storeaddress)
        </td>
        <td style="font-size:medium">
            @Html.DisplayFor(modelItem => item.Heure_ouverture)
        </td>
        <td style="font-size:medium">
            @Html.DisplayFor(modelItem => item.Heure_fermeture)
        </td>
        <td style="font-size:medium">
            @Html.DisplayFor(modelItem => item.storeNum)
        </td>
        <td style="font-size:medium">
            @Html.DisplayFor(modelItem => item.storeDesc)
        </td>

    </tr>
    }

</table>
