@model IEnumerable<CRMP.Domain.Entities.Store>

@{
    ViewBag.Title = "IndexFront";
    Layout = "~/Views/Shared/Front.cshtml";
}




<div class="catagory-post-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Post Area -->
            <div class="col-12 col-lg-8 col-xl-9">
                @foreach (var item in Model)
                {

                    <!-- Single Blog Post -->
                    <div class="single-blog-post style-1 d-flex flex-wrap mb-30">
                        <!-- Blog Thumbnail -->
                        <div class="blog-thumbnail">
                            @{string path = "~/Content/uploads/" + @item.storeImage;}

                            <img src="@Url.Content(path)" width="80" height="80" />
                        </div>
                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="post-tag">@item.storeaddress</a>
                            <a href="#" class="post-title">@item.storeName</a>
                            <a href="#" class="post-tag"style="color:black">@item.storeNum</a>

                            <div class="post-meta">
                                <a href="#" class="post-date"> @Html.DisplayFor(modelItem => item.Heure_ouverture)</a>
                                <a href="#" class="post-author"> @Html.DisplayFor(modelItem => item.Heure_fermeture)</a>
                            </div>
                            <p>@item.storeDesc</p>
                        </div>
                    </div>
                }
            </div>
            
            </div>
        </div>
    </div>
            
                      

    
